<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>

    {{ content }}
    <footer>
        <p>contact us:</p>
        <p><a href="mailto:allofourcornbread@gmail.com">✉️ allofourcornbread@gmail.com</a></p>
        <p><a href="https://www.instagram.com/allofourcornbread"><img src="/images/icons/instagram.svg" alt="Instagram logo" style="display: inline; width: 1rem; margin: 0;padding: 0; position: relative; top: 2px"> Instagram</a></p>
    </footer>
</body>
</html>