
@font-face {
    font-family: 'Bizzarri Text';
    src: url(/fonts/BizzarriText-Regular.otf);
}
@font-face {
    font-family: 'Bizzarri Text';
    font-style: italic;
    src: url(/fonts/BizzarriText-Italic.otf);
}
@font-face {
    font-family: 'Bizzarri Text';
    font-weight: bold;
    src: url(/fonts/BizzarriText-Bold.otf);
}
@font-face {
    font-family: 'Bizzarri Text';
    font-weight: bold;
    font-style: italic;
    src: url(/fonts/BizzarriText-BoldItalic.otf);
}
@font-face {
    font-family: 'Gooper';
    src: url(/fonts/Gooper7-Regular.otf);
}
@font-face {
    font-family: 'Gooper';
    font-style: italic;
    src: url(/fonts/Gooper7-Italic.otf);
}
@font-face {
    font-family: 'Gooper';
    font-weight: bold;
    src: url(/fonts/Gooper7-Bold.otf);
}

body {
    --fgcolor: #000;
    --bgcolor: #fff;
    --acolor: #00b;
    --altbgcolor: #c8f1ff;
    --fgtranslucent: rgba(0, 0, 0, 0.7);
    --mildfgcolor: #505050;
    --translucent: rgba(0, 0, 0, 0.05);
    --bgimage: ;
    --darkblue: rgb(13, 6, 40);
    --cream: rgb(255, 241, 208);
    --yellow: rgb(220, 170, 0);
    --red: rgb(214, 40, 57);
    --blue: rgb(45, 167, 212);
    --white: rgb(255, 255, 255);
    --displayfont: "Gooper Light", sans-serif;
    --headerfont: "Gooper Light", degular, sans-serif;
    --smallheadingfont: "Gooper", sans-serif;
    --monofont: "DM Mono", monospace;
    --bodyfont: "Literata", serif;
    --bigwidth: 1000px;
    --mainradius: 0.25rem;



    font-family: Gooper;
    font-size: 16px;

    padding: 1rem;
}
#background {
    z-index: -1;
    position: fixed;
    width: 200vw;
    height: 200vh;
    top: -20vw;
    left: -20vw;
    background-image: url('/images/9pointstar-cream.svg');
    background-size: 20vw;
    animation: movebackground 5s linear infinite;
    transform: rotate(-15deg);
    /* filter: blur(2px); */
}
@keyframes movebackground {
    from { background-position: 0 0;}
    to { background-position: 20vw 20vw;}
}

#linksbar {
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: auto;
}
#linksbar > * {
    width: 50px;
    transition: 0.1s;
    &:hover {
        transform: translate(0,-2px);
    }
    & img {
        width: 100%;
    }
}


img {
    display: block;
    margin: 1rem 0;
}
a {
    color: var(--acolor);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}



header, main, footer {
    max-width: 650px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main {
    max-width: 1000px;
}



header {
}
header > img {
    display: block;
    max-width: 300px;
    margin: auto;
    animation: wiggle 2s infinite steps(1);
}

main p {
    margin: 1rem 0;
}
main img {
    border-radius: 1rem;
}
main h2 {
    text-align: center;
    margin-top: 2rem;
}

#firstgrid {
    display: flex;
    gap: 1rem;
}
@media only screen and (max-width: 600px) {
    #firstgrid {
        display: block;
    }
}



#mailinglist a {
    display: inline-block;
    padding: 0.25rem;
    margin: -0.25rem;
    background-color:;
    animation: wiggle 1s steps(1) infinite;
}
.sectiontitle { /*h1*/
    font-family: 'Bizzarri Text';
    font-weight: normal;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 2px solid var(--fgcolor);
}
p.caption {
    font-style: italic;
    margin-top: -.5rem;
    color: var(--fgtranslucent);
}
p.caption::before {
    content: "\2191     ";
}


.albumcoverimage {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: auto;
    border-radius: 0.25rem;
}
.albumlinksbar {
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: auto;
    & > div {
        &:hover {
            transform: translate(0, -2px);
        }
        & img {
            display: block;
            width: 50px;
        }
    }
}


#videolinks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.showlink {
    /* position: relative; */
    display: block;
    margin-top: 2rem;



    & img {
        border: 1px solid var(--fgcolor);
        border-radius: var(--mainradius);
        box-shadow: 2px 2px black;
        margin: 0;
    }

    & .vidthumbnail {
        position: relative;
    }
    & .videotitle {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        color: white;
        font-family: 'Bizzarri Text';
        /* font-size: clamp(1.5rem, 6cqw, 2.5rem); */
        font-size: 2rem;
        line-height: 1.1;
        text-align: center;
        text-shadow: -2px -2px var(--darkblue), 2px -2px var(--darkblue), 2px 2px var(--darkblue), -2px 2px var(--darkblue);
    }
    & .caption {
        margin-top:  0.5rem;
    }
}
  




footer {
    text-align: center;
}
footer p {
    margin-top: .25rem;
}

@keyframes wiggle {
    0% {transform: rotate(-1deg)}
    50% {transform: rotate(1deg)}
}